.id
{
  display: none;
}
.editable span{
  display:block;
}
.editable span:hover{
  background:url("../img/edit.png") 90% 50% no-repeat;
  cursor:pointer;
}
.guardar{
  background:url("../img/save.png") 0 0 no-repeat;
}
a.enlace{

  display:inline-block;
  width:24px;
  height:24px;
  margin:0 0 0 5px;
  overflow:hidden;
  text-indent:-999em;
  vertical-align:middle;
}
.cancelar{
  background:url("../img/cancel.png") 0 0 no-repeat;
}
td input{
  height:24px;
  width:100px;
  border:1px solid #ddd;
  padding:0 5px;
  margin:0;
  border-radius:6px;
  vertical-align:middle;
}
